.card {
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: var(--surface-primary);
  overflow: hidden;

  &-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: var(--surface-secondary);
    padding: var(--spacing-md) 0;

    &-title {
      font-size: var(--font-size-30);
      color: var(--text-primary);
    }
  }

  &-body {
    padding: var(--spacing-xl);
    text-align: center;

    &-content {
      font-size: var(--font-size-64);
      margin: 0;
      font-weight: 500;
    }
  }

  &-footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--border-color);
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;

    &-variation,
    &-updated {
      padding: var(--spacing-sm) 0;
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
    }

    &-variation {
      border-right: 1px solid var(--border-color);
      font-weight: 600;

      &-label {
        color: var(--text-secondary);
        font-size: var(--font-size-18);
      }
      &-value {
        color: var(--text-primary);
        font-size: var(--font-size-24);
      }
    }

    &-updated {
      padding-left: var(--spacing-sm);
      font-weight: 600;

      &-label {
        color: var(--text-secondary);
        font-size: var(--font-size-18);
      }
      &-value {
        color: var(--text-primary);
        font-size: var(--font-size-24);
      }
    }
  }
}
